.first {
  color: rgb(190, 29, 29);
  font-size: x-large;
}

.show {
  visibility: hidden;
}

.fuck {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  padding: 2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation-name: joint;
  animation-duration: 3s;
}

@keyframes joint {
  from {
    margin-left: 100%;
    width: 300%;
    top: 50%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
