body {
  background-color: cornsilk;
}

.first {
  color: rgb(190, 29, 29);
  font-size: x-large;
}

.show {
  visibility: hidden;
}

.fuck {
  display: inline-block;
  border: 2px solid black;
  background-color: darkgreen;
  padding: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.tabs {
  border: 1px solid black;
  background-color: antiquewhite;
}

.tab {
  border: 1px solid black;
}
